<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.cdnfonts.com/css/gorilla" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial</title>
</head>
<body class="bg-[#5f051f] flex items-center justify-center min-h-screen">
    <div class="bg-[#F6E8EA] w-full max-w-sm mx-auto shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <h1 class="text-2xl font-bold">Historial</h1> <!-- Solo para saber donde me fui xd -->
        {% if habitos_completados %}
        <ul>
            {% for habito_completado, habito_personalizado in habitos_completados %}
            <li class="mb-2">{{ habito_completado.fecha_completado }} - {{ habito_personalizado.habito_nombre }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="text-center">No hay hábitos completados aún.</p>
        {% endif %}    
    </div>
    
    <a href="pagina_principal" style="font-family:Roboto Condensed" class="absolute bottom-4 left-4 text-[#8c315d] p-4 bg-[#F6E8EA] font-bold rounded-lg shadow-2xl hover:bg-[#E3BCC1] hover:scale-110 mt-5">Volver atrás</a>
</body>
</html>
