<!DOCTYPE html>
<html lang="es">

<head> 
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.cdnfonts.com/css/gorilla" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial</title>
</head>

<body class="border-t-8 border-[#F6E8EA] flex flex-col items-center justify-center min-h-screen bg-[radial-gradient(circle_at_center,_var(--tw-gradient-stops))] from-[#993A55] to-[#5f051f]">

    <div class="bg-[#F6E8EA] shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <!-- Contenedor principal -->
        <h1 style="font-family:gorilla" class="text-2xl font-bold mb-6 text-center text-[#8c315d]">Historial</h1>
        {% if habitos_completados %}
        <!-- Bloque condicional para mostrar hábitos completados -->
        <div class="flex flex-wrap justify-start">
            <!-- Bucle for para iterar sobre los hábitos completados -->
            {% for habito_completado, habito_personalizado in habitos_completados %}
            <!-- Divs para mostrar cada hábito completado en un espacio distinto-->
            <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 px-2 mb-4 flex">
                <!-- Contenedor de información del hábito completado -->
                <div class="bg-white rounded shadow-md p-4 flex flex-wrap justify-between items-center">
                    <div>
                        <!-- Párrafo para la fecha del hábito completado -->
                        <p class="text-gray-600 mb-2">{{ habito_completado.fecha_completado }}</p>
                        <!-- Párrafo para el nombre del hábito completado -->
                        <p class="text-gray-800 font-bold">{{ habito_personalizado.habito_nombre }}</p>
                    </div>
                    <!-- Boton para eliminar ese habito completado -->
                    <form action="/borrar_habito/{{ habito_completado.id_habitos_completados }}" method="post">
                        <button type="submit" class="text-red-500 hover:text-red-700 py-1 px-2 focus:shadow-outline">Borrar</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <!-- Mensaje en caso de que no haya hábitos completados -->
        <p class="text-center text-gray-700">No hay hábitos completados aún.</p>
        {% endif %}
    </div>

    <footer class="flex space-x-4 m-5">
        <!-- Enlace para volver atrás -->
        <a href="pagina_principal" style="font-family: Roboto Condensed;" class="text-[#8c315d] p-4 bg-[#F6E8EA] font-bold rounded-lg shadow-2xl hover:bg-[#E3BCC1] hover:scale-110">Volver atrás</a>
        <!-- Boton para limpiar el historial -->
        <form action="/borrar_todo_historial" method="post">
            <button type="submit" style="font-family: Roboto Condensed;" class="text-[#8c315d] p-4 bg-[#F6E8EA] font-bold rounded-lg shadow-2xl hover:bg-[#E3BCC1] hover:scale-110">Limpiar historial</button>
        </form>
    </footer>    
</body>
</html>
