<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.cdnfonts.com/css/gorilla" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial</title>
</head>
<body class="bg-[#5f051f]">
    <div class="flex justify-center items-center min-h-screen text-white">
        <h1 class="text-2xl font-bold">Historial</h1> <!-- Solo para saber donde me fui xd -->
        <a href="/pagina_principal" class="ml-8">
            <button class="bg-[#EF626C] hover:bg-[#78d6a6] text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Volver
            </button>
        </a>
    </div>
</body>
</html>
