<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.cdnfonts.com/css/gorilla" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/br-shape" rel="stylesheet">
    <title>Inicio</title>
</head>

<body class="bg-[#F6E8EA]">

    <div class="flex flex-row items-center justify-between h-screen">

        <div class="flex flex-col items-start justify-center ml-20">
            <h1 style="font-family:gorilla" class="font-extrabold text-[#8c315d] text-7xl">Bienvenido a Avanza Diario</h1>
            <p style="font-family:br-shape" class="text-[#8c315d] text-4xl">Listo para crear nuevos hábitos?</p>

            <div class="mt-10 space-x-8">
                <a href="{{ url_for('iniciar_sesion') }}">
                    <button class="text-[#F6E8EA] p-6 bg-[#5f051f] font-bold rounded-lg shadow-2xl hover:bg-[#5F8A74] hover:scale-110">Iniciar Sesión</button>
                </a>

                <a href="{{ url_for('registrar') }}">
                    <button class="text-[#F6E8EA] p-6 bg-[#5f051f] font-bold rounded-lg shadow-2xl hover:bg-[#5F8A74] hover:scale-110 mt-5">Registrarse</button>
                </a>
            </div>
        </div>

        <div class="mr-20 size-auto">
            <img src="static/estrellas.png" alt="Estrellas" class="size-auto">
        </div>

    </div>

</body>
</html>
