<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habitos</title>
</head>
<body>
    <h1>Pagina Principal</h1> <!-- Solo para saber donde me fui xd --></form>
    <a href="/pagina_principal" align="center">
        <button style=
        "background-color: rgb(119, 140, 97); 
        color: white;position: relative; left: 38%;"> Historial  </button>
    </a>
</body>
</html>